h1 {
  font-size: 80px;
  font-family: New Times Roman;
  margin: 35px;
  }

div {
  border: 10px dotted black;
  padding: 15px;
  background: lightblue;
  background-clip: padding-box;
}

p {
  margin: 35px;
}
