h1 {
  font-size: 65px;
  font-family: New Times Roman;
  text-align: center;
  background-color: #80ced6;
  }

h2 {
  text-align: center;
  background-color: #80ced6;
}

h3 {
  text-align: center;
  background-color: #80ced6;
}

p {
  margin: 35px;
  text-align: center;
}

body {
  background-color: #fefbd8;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}

li { 
  text-align: center;
}
