h1 {
  font-size: 80px;
  font-family: New Times Roman;
  }

div {
    text-align:center;
}
body {
  background-color: #fefbd8;
}

h1 {
  background-color: #80ced6;
}

div {
  background-color: #d5f4e6;
}

span {
  background-color: #f18973;
}
